.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 15px 15px 20px 15px;
  background-color: whitesmoke;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.9);
  border-radius: 20px;

  .title {
    margin: 20px 0;
  }
}
